img{
  width:300px;
  display:block;
}

img[src="00.png"]{
  width:500px;
  max-width:100%;
  margin:50px auto;
}

.text-1{
  white-space:pre-wrap;
  word-break:break-all;

  border:1px solid black;
  padding:10px;
  border-radius:10px;
  width:300px;
  font-size:16px;
  letter-spacing:2px;
}

.text-1 .blue{
  color:blue;
}
.text-1 .red{
  color:red;
}


